<div class="text-center">
  <form class="form-signin form" #fLogin="ngForm" (submit)="login()">
    <img
      class="mb-4"
      src="assets/logo.png"
      alt="login"
      height="140"
    />
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <div class="form-group">
      <label for="email" class="sr-only">Usuario</label>
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        name="email"
        id="email"
        [(ngModel)]="infoLogin.email"
        required
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
        #email="ngModel"
      />

      <!-- Mensajes de error si el campo es inválido -->
      <div *ngIf="email.invalid && email.touched">
        <small class="form-text text-danger" *ngIf="email.errors?.['required']"
          ><b>El email es obligatorio.</b></small
        >
        <small class="form-text text-danger" *ngIf="email.errors?.['pattern']"
          ><b>Formato de email inválido.</b></small
        >
      </div>
      <!-- #################  PROBANDO PARA VALIDAR Email -->
    </div>
    <!-- ############     Acaba el div de Usuario ############  -->

    <div class="form-group">
      <label for="password" class="sr-only">Password</label>
      <input
        type="password"
        class="form-control"
        placeholder="Contraseña"
        name="password"
        id="password"
        [(ngModel)]="infoLogin.password"
        required
      />
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      id="login1"
      [hidden]="!fLogin.valid"
    >
      Login
    </button>
    <button
      class="btn btn-primary"
      type="submit"
      id="login2"
      [hidden]="fLogin.valid"
      [disabled]="!fLogin.valid"
      style="cursor: not-allowed"
    >
      Login
    </button>
    <p class="mt-5 mb-0 text-muted hexa">54 4F 4E 54 4F</p>
    <p class="mt-0 mb-0 text-muted hexa">20 45 4C 20 51</p>
    <p class="mt-0 mb-0 text-muted hexa">55 45 20 4C 4F</p>
    <p class="mt-0 mb-3 text-muted hexa">20 4C 45 41</p>
  </form>
  <p-toast></p-toast>
</div>
